.button.character,


#arena > .player.xplayer {
  --width: 120px;
}



.popup-container > .character-dialog {
  top: calc(44% - var(--h) / 2 + var(--bt));
  left: calc(50% - var(--w) / 2 + var(--bl));
}

.character-dialog {
  --w: 660px;
  --h: 500px;
  --bt: calc(var(--h) * 40 / 290);
  --bl: calc(var(--w) * 38 / 497);
  --bb: calc(var(--h) * 17 / 290);
  --dw: calc(var(--w) - 2 * var(--bl));
  --dh: calc(var(--h) - var(--bt) - var(--bb));

  width: var(--dw);
  height: var(--dh);
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  z-index:13;
}

.character-dialog.dialog2 {
  --bt: calc(var(--h) * 10 / 280);
  --bl: calc(var(--w) * 12 / 287);
  --bb: calc(var(--h) * 20 / 280);
}
.character-dialog.popped {
  animation: dialog_start2 0.3s;
  -webkit-animation: dialog_start2 0.3s;
}
.character-dialog::before {
  content: '';
  top: calc(0% - var(--bt));
  left: calc(0% - var(--bl));
  width: var(--w);
  height: var(--h);
  position: absolute;
  background-image: url("./images/dialog2_blank.png");
  background-size: 100% 100%;
  
}
.character-dialog.dialog2::before {
  background-image: url("./images/dialog2_blank.png");
  
}
.character-dialog > div {
  top: 0;
  height: 100%;
  position: absolute;
}
/*查看名片*/
.character-dialog > div.clicks {
    left: calc(82% - 75px);
	top: calc(18% - 30px);
	width: 150px;
	height: 60px;
	/*height: 42%;*/
	opacity: 1;
	background-image: url("./images/click.png");
	background-size: 100% 100%;
	z-index: 70;
}
/*官阶大将军大元帅啥的*/
.character-dialog > div.guanjie {
    left: calc(8% - 50px);
	top: calc(18% - 50px);
	width: 100px;
	height: 100px;
	/*height: 42%;*/
	opacity: 1;
	background-image: url("./images/n_dajiangjun.png");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 70;
	pointer-events: none;
}
.character-dialog > div.guanjietext {
    left: calc(30% - 100px);
	top: calc(18% - 15px + 2px);
	width: 200px;
	height: 30px;
	/*height: 42%;*/
	opacity: 1;
	z-index: 70;
	pointer-events: none;
	text-align: center;
	font-size: 27px;
	color: rgb(235, 210, 12);
	font-family: 'shousha';
}
.character-dialog > div.biankuang{
    width: 21.5%;/*21%*/
    height: 40%;
    top: 47%;
    left: 3.6%;
    background-size: 100% 100%;
    z-index: 68;
    position: relative;
}

.character-dialog > div.biankuang2{
    width: 21.5%;/*21%*/
    height: 40%;
    top: 47%;
    left: 3.6%;
    background-size: 100% 100%;
    z-index: 68;
    position: relative;
}



.xing{
    position: relative;
    width: 15px;
    height: 24%;
    /*left: 4.5%;星星偏移*/
    left: 4.3%;
    z-index: 99;
    display: inline-flex;
    flex-direction: column-reverse;
}
.xing > .item{
    position: relative;
    background: url(images/xing.png);
    background-size: cover;
    width: 15px;
    height: 15px;
    left: 60%;
    top: -16%;
    z-index: 99;
}

.xing2{
    position: relative;
    width: 15px;
    height: 24%;
    left: 4.5%;
    z-index: 99;
    display: inline-flex;
    flex-direction: column-reverse;
}
.xing2 > .item{
    position: relative;
    background: url(images/xing.png);
    background-size: cover;
    width: 15px;
    height: 15px;
    left: 60%;
    top: -16%;
    z-index: 99;
}

.bigdialog{
    position: relative;
    background: url(images/bigdialog.png);
    background-size: 100% 100%;
    width: 80%;
    height: 100%;
    left: 10%;
    top: 0;
    z-index: 99;
}

.shanchang1 {
  left: 30.5%;
  top: 38%;
  height: 42%;
  width: 13.5%;
  opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.shanchang2 {
  left: 45%;
  top: 38%;
  height: 42%;
  width: 13.5%;
  opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.shanchang3 {
  left: 59.5%;
  top: 38%;
  height: 42%;
  width: 13.5%;
  opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.shanchang4 {
  left: 74%;
  top: 38%;
  height: 42%;
  width: 13.5%;
  opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
}

.useless {
  left: 40%;
  top: 80%;
  height: 10%;
  width: 15%;
  background-size: 100% 100%;
  z-index: 69;
}

.useless2 {
  left: 65%;
  top: 80%;
  height: 10%;
  width: 15%;
  background-size: 100% 100%;
  z-index: 69;
}
/*玩家头像*/
.minixingxiang {
    /*left:calc(100% - 1000px);
	top: auto;
	bottom: 53%;
	width: 11%;
	height: 32%;*/
	opacity: 1;
	left: 9.5%;
    top: 5%;
    height: 44%;
    width: 16%;
	/*position:fixed;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 9px;
	transition-property: opacity, transform;
	z-index: 69;
  transform: scale(0.9);
}

.xingbie {
  left: 9.5%;
  top: 48%;
  height: 5%;
  width: 3.5%;
  background-size: 100% 100%;
  z-index: 69;
}

.jingji {
  left: 9.7%;
  top: 57%;
  height: 32%;
  width: 16%;
  /*background-size: 100% 100%;*/
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 69;
}

/*大资料页名称*/
.wanjiaming{
    font-size: 22px;
    top: 49%;
    left: 13%;
    color: white;
    text-align: left;
    -webkit-text-stroke: 0.15px rgba(0,0,0,1);
    text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

/*分享*/
.fenxiang{
    font-size: 24px;
    /*top: 83%;
    left: 45%;*/
    top: calc(85% - 12px);
    left: calc(47.5% - 12*2px);
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.15px rgba(0,0,0,1);
    text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

/*展示*/
.zhanshi{
    font-size: 20px;
    /*top: 83.3%;
    left: 66.9%;*/
    top: calc(84.9% - 10px);
    left: calc(73% - 10*6px);
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.15px rgba(0,0,0,1);
    text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

/*公会*/
.gonghui{
    font-size: 15px;
    top: 54%;
    left: 10%;
    color: orange;
    text-align: left;
    -webkit-text-stroke: 0.15px rgba(0,0,0,1);
    text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

/*鲜花*/
.xianhua{
    font-size: 10px !important;
    /*top: 90.5%;*/
    top: 91%;
    left: 13%;
    color: white;
    text-align: left;
    -webkit-text-stroke: 0.15px rgba(0,0,0,1);
    text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

/*鸡蛋*/
.jidan{
    font-size: 10px !important;
    /*top: 90.5%;*/
    top: 91%;
    left: 22.5%;
    color: white;
    text-align: left;
    -webkit-text-stroke: 0.15px rgba(0,0,0,1);
    text-shadow: 0.1px 0.1px 0.25px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
/*武将名字*/
.character-dialog > div.biankuangname{
    position: absolute;
    width: 15px;
    left: 5.8%;
    top: 52%;
    font-size: 14px;
    font-family: shousha;
    z-index: 99;
}

.character-dialog > div.biankuangname2{
    position: absolute;
    width: 15px;
    left: 5.8%;
    top: 52%;
    font-size: 1.8vw;
    font-family: shousha;
    z-index: 99;
}

.character-dialog > div.dengji{
    z-index: 68;
}

/*武将牌露头*/
.character-dialog > div.left {
    left: 50px;
	top: auto;
	bottom: 15.5%;
	width: 16.5%;
	height: 42%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 10px;
	-webkit-clip-path: url(#solo-clip);
	transition-property: opacity, transform;
	z-index: 69;
}

/*武将牌不露头*/
.character-dialog > div.left2 {
    left: 50px;
	top: auto;
	bottom: 15.4%;
	width: 16.5%;
	height: 36.8%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 7px;
	transition-property: opacity, transform;
	z-index: 69;
	
  /*left: 8.7%;
  top: 48%;
  height: 36.8%;
  width: 16.5%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius:8px;
  z-index: 69;*/
}

.character-dialog > div.right {
  left: 50%;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 15px 20px 0;
  overflow: auto;
}
.character-dialog.single > div.right {
  left: calc(50% - 105px);
  width: calc(50% + 105px);
}
.character-dialog > div.left > div {
  top: 65%;
  right: 30px;
  width: 210px;
  text-align: center;
  transform: translateY(-50%);
  position: absolute;
  white-space: nowrap;
}
.character-dialog.single > div.left > div {
  width: 105px;
  position: absolute;
}
.character-dialog > div.right > div {
  width: 100%;
  height: 60%;
  overflow: auto;
}
.character-dialog > div.right div {
  position: relative;
  bottom: -38%;
}
.character-dialog > div.right .xcaption {
  width: 100%;
  bottom: 0%;
  color:#C8A82C;/*技能名称*/
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  font-family: 'ATLL';
}

.character-dialog > div.right .xskill {
  width: 100%;
  bottom: 0%;
}

.character-dialog > div.right .xskill > div {
  display: inline;
  color: #4B3B30;/*技能文描述颜色*/
  text-shadow: none;
  font-size: 16px;
  font-weight:bold;
  font-family: 'FZLBJW';
}
.character-dialog > div.right .xskill > div[data-color] {
  color: #F0DB1E;
}
.character-dialog > div.right .xskill > div[data-color="red"] {
  color: #F0DB1E;
}
.character-dialog > div.right .xskill > div[data-color="black"] {
  color: #F0DB1E;
}
.character-dialog > div.right .xskill + .xskill {
  margin-top: 15px;
}

/* hp */
/* .hp:not(.text):not(.actcount):not(.treasure) > div {
  box-shadow: none;
  border: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0px;
}
.hp:not(.text):not(.actcount):not(.treasure)[data-condition="high"] > div:not(.lost) {
  background-image: url('./images/hp/hp-1.png');
}
.hp:not(.text):not(.actcount):not(.treasure)[data-condition="mid"]>div:not(.lost){
  background-image: url('./images/hp/hp-2.png');
}
.hp:not(.text):not(.actcount):not(.treasure)[data-condition="low"]>div:not(.lost){
  background-image: url('./images/hp/hp-3.png');
}
.hp:not(.text):not(.actcount):not(.treasure)>.lost{
  background-image: url('./images/hp/hp-0.png');
}

#arena[data-double-character] .hp:not(.text):not(.actcount):not(.treasure)[data-condition="high"] > div:not(.lost) {
  background-image: url('./images/hp/hp-round-1.png');
}
#arena[data-double-character] .hp:not(.text):not(.actcount):not(.treasure)[data-condition="mid"]>div:not(.lost){
  background-image: url('./images/hp/hp-round-2.png');
}
#arena[data-double-character] .hp:not(.text):not(.actcount):not(.treasure)[data-condition="low"]>div:not(.lost){
  background-image: url('./images/hp/hp-round-3.png');
}
#arena[data-double-character] .hp:not(.text):not(.actcount):not(.treasure)>.lost{
  background-image: url('./images/hp/hp-round-0.png');
} */
