.card:empty,.card.infohidden{
    background: url('image/tongque.png');
    background-size: 100% 100%;
}
.card.infohidden:not(.infoflip){
	background: url('image/tongque2.png');
    background-size: 100% 100%;
}
